.dataTable {
  :global
  .react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 20px;
    height: 100%;
    cursor: col-resize;
  }

  :global
  .layout-checker {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -99;
  }

  :global
  .ant-table-column-sorter {
    margin-right: 10px
  }

  :global
  .ant-table-filter-column {
    .ant-table-column-sorter {
      margin-right: 0px
    }
  }

  :global
  .ant-table-filter-trigger {
    margin-right: 5px
  }
}
:global
.dragHandler {
  display: block;
}